body {
  min-height: 100vh;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-wrapper {
  height: 25em;
  width: 18em;
  display: grid;
  grid-template-rows: 1fr 2.25fr 0.25fr;
}

.display {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.mid {
  display: grid;
  grid-template-columns: 0.75fr auto auto;
}

.mid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.bot-buttons {
  display: grid;
  grid-template-columns: 0.448fr auto;
}

.operators {
  display: grid;
}

.ac-equal {
  display: grid;
  grid-template-rows: auto 0.85fr;
}

.number {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
